fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

legend {
  font-size: 2rem;
  font-weight: 700;
}

input:last-of-type {
  margin-bottom: 1rem;
}
