#resume {
  box-sizing: border-box;
  height: calc(594px * 1.5);
  width: calc(420px * 1.5);
  background-color: white;
  color: black;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  margin: 1rem 0;
}

h3,
p {
  margin: 0.4rem 0;
  display: inline-block;
}

h3 {
  margin-right: 0.4rem;
}
